.menu-add
  width: 100%
  .week-menu
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .week-menu-item
      width: 18%
      margin-bottom: 20px
      .list__tile__content.align-end
        align-items: flex-end!important;
  .menu-add-form
    width: 50%
    margin: 0 auto