@import '../../../node_modules/normalize-styl/normalize.styl'
@import '~vuetify/src/stylus/main'
@import './components/menuAdd'

*
  box-sizing border-box

.logo-link
  text-decoration: none
  color #fff

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

